.loader::before, .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #9356DC;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #FF79DA;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%, 100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
html {
  min-width: 320px;
}

* {
  margin: 0;
}

body {
  margin: 0;
}
@media (max-width: 600px) {
  body {
    background-color: #f7f7f7;
  }
}

button {
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader--background {
  z-index: 999999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  animation: opening;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  animation-duration: 0.5s;
}

@keyframes opening {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

.main__description__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0%;
}

.nav__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  margin: 0%;
  margin-left: 20px;
  background-color: white;
  max-width: 1000px;
}
.nav__numbers {
  color: #9356DC;
  font-size: 30px;
}

.section__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  margin: 0%;
  margin-left: 20px;
  background-color: #f7f7f7;
}

.resto__card__title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.resto__carte__title {
  font-family: "Shrikhand", cursive;
}
.resto__carte .fa-heart-empty {
  font-size: 25px;
  padding-right: 10px;
}
.resto__carte .fa-heart-solid {
  font-size: 25px;
  padding-right: 10px;
  transform: scale(0);
}
.resto__carte .fa-heart-solid {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
}
.resto__carte .fa-stack:hover .fa-heart-empty {
  opacity: 0;
}
.resto__carte .fa-stack:hover .fa-heart-solid {
  opacity: 1;
  transform: scale(1);
  transition: 0.4s;
}
.resto__carte__menu__title {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 100;
  width: 40px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 10px;
  margin-top: 20px;
}
.resto__carte__menu__ligne__left__text {
  font-size: 16px;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resto__carte__menu__ligne__left__text--2 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 100;
  height: 59px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resto__carte__menu__ligne__left__text--3 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  top: 30px;
  right: 20px;
  margin-block-start: none;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding: 10px;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h4 {
  font-family: "Shrikhand", cursive;
}

.main__button {
  background-color: #FF79DA;
  font-size: 13px;
  color: white;
  margin: 15px;
  padding: 15px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border: none;
  cursor: pointer;
}
.main__button:hover {
  filter: brightness(120%);
  box-shadow: rgba(0, 0, 0, 0.54) 0px 5px 15px;
}

.main__description {
  text-align: center;
}

.header {
  padding: 5px;
}
.header__back {
  position: absolute;
  top: 20px;
  padding-left: 20px;
}
.header__back i {
  font-size: 20px;
  color: #353535;
}
.header__logo {
  display: flex;
  text-align: center;
  justify-content: center;
}
.header__logo img {
  width: 150px;
  height: auto;
  margin: 10px;
}

.main__location {
  background-color: #eaeaea;
  color: #353535;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1) inset;
}
.main i {
  padding-right: 5px;
}
.main p {
  margin: 12px;
  font-size: 13px;
}
.main__description {
  background-color: #f7f7f7;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 100;
}
.main__description p {
  font-size: 15px;
  margin: 0%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav {
  padding: 10px;
  background-color: white;
}
.nav__numbers--color {
  color: white;
  font-size: 12px;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 3px;
  padding-right: 7px;
  padding-left: 7px;
}
.nav__numbers--color__1 {
  position: absolute;
  top: 17px;
  left: -10px;
}
.nav__numbers--color__2 {
  position: absolute;
  top: 17px;
  left: -10px;
}
.nav__numbers--color__3 {
  position: absolute;
  top: 17px;
  left: -10px;
}
@media (min-width: 600px) {
  .nav {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.fonct__button {
  background-color: #f7f7f7;
  font-size: 13px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  padding-left: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}
.fonct__button:hover {
  background-color: #f3eefd;
}
.fonct__button:hover i {
  color: #9356DC;
}
.fonct__button i {
  color: gray;
  font-size: 15px;
  padding: 10px;
  padding-right: 20px;
}
@media (min-width: 600px) {
  .fonct__button {
    min-width: 20%;
    max-width: 40%;
  }
}

.section {
  background-color: #f7f7f7;
  padding: 10px;
}
@media (min-width: 600px) {
  .section {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }
}

.resto__card {
  width: 100%;
  background-color: white;
  height: 220px;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  position: relative;
}
.resto__card a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}
.resto__card img {
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.resto__card p {
  font-size: 15px;
  font-weight: 100;
}
.resto__card h3 {
  margin: 0%;
  padding-top: 10px;
  padding-left: 10px;
}
.resto__card p {
  margin: 0%;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px;
}
@media (min-width: 600px) {
  .resto__card {
    min-width: 400px;
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.resto__card__coeur {
  position: absolute;
  top: 170px;
  left: 450px;
}
.resto__card__coeur .fa-heart-empty {
  font-size: 25px;
  padding-right: 10px;
}
.resto__card__coeur .fa-heart-solid {
  font-size: 25px;
  padding-right: 10px;
  transform: scale(0);
}
.resto__card__coeur .fa-heart-solid {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
}
.resto__card__coeur .fa-stack:hover .fa-heart-empty {
  opacity: 0;
}
.resto__card__coeur .fa-stack:hover .fa-heart-solid {
  opacity: 1;
  transform: scale(1);
  transition: 0.4s;
}

.resto__card__new {
  color: #368b6e;
  background-color: #a9e0d1;
  width: 70px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  position: absolute;
  top: 20px;
  right: 20px;
  align-items: center;
}
.resto__card__new p {
  font-size: 13px;
  font-weight: 900;
}

.resto__img {
  object-fit: cover;
}
.resto__img img {
  width: 100%;
}

@media (min-width: 600px) {
  .resto__img img {
    object-fit: cover;
    max-height: 400px;
  }
}
.resto__carte {
  background-color: #f7f7f7;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  border-radius: 20px 20px 0px 0px;
  z-index: 1;
  position: relative;
  top: -50px;
}
.resto__carte__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.resto__carte__menu__ligne {
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 310px;
  height: 59px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  visibility: visible;
  animation: fade;
  animation-delay: 0.2s;
  animation-duration: 2s;
}
.resto__carte__menu__ligne:hover .resto__carte__menu__ligne__check {
  width: 50px;
  transition: 0.3s;
}
.resto__carte__menu__ligne:hover .resto__carte__menu__ligne__check i {
  font-size: 14px;
  background-color: white;
  transition: 0.4s;
  rotate: 720deg;
}
.resto__carte__menu__ligne:hover .resto__carte__menu__ligne__left {
  width: 55%;
}
@keyframes fade {
  0% {
    opacity: 0;
    top: 10px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.resto__carte__menu__ligne__left {
  padding: 10px;
}
.resto__carte__menu__ligne__check {
  background-color: #99E2D0;
  width: 0px;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.resto__carte__menu__ligne__check i {
  color: #99E2D0;
  font-size: 0px;
  background-color: transparent;
  border-radius: 50%;
  padding: 2px;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .resto__carte {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding-bottom: 30px;
    border-radius: 20px 20px 20px 20px;
  }
}
@media (min-width: 1024px) {
  .resto__carte {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding-bottom: 30px;
    border-radius: 20px 20px 20px 20px;
  }
  .resto__carte__menu {
    display: flex;
    justify-content: center;
  }
  .resto__carte__menu__ligne__left {
    margin-right: 10px;
  }
  .resto__carte__menu__bloc {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.resto__button {
  background-color: #FF79DA;
  font-size: 13px;
  color: white;
  margin-top: 40px;
  margin-right: 0%;
  padding: 15px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.resto__button:hover {
  filter: brightness(120%);
  box-shadow: rgba(0, 0, 0, 0.54) 0px 5px 15px;
}

.footer {
  background-color: #353535;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer h4 {
  color: white;
  margin-bottom: 10px;
}
.footer a {
  text-decoration: none;
}
.footer ul {
  margin: 0;
}
.footer ul li {
  color: white;
  list-style-type: none;
  font-size: 13px;
  padding-bottom: 5px;
}
.footer i {
  color: white;
  font-size: 10px;
  padding-right: 10px;
}
.footer__link {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .footer .footer__title {
    font-size: 20px;
    align-items: center;
    margin: 25px;
  }
  .footer .footer__ul {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
  }
  .footer .footer__link {
    margin: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
