html{
    min-width: 320px;
}
* {
    margin: 0;
}
body{
    margin: 0;
    @media (max-width: 600px){
        background-color: $colour-gray;
    }
}
button{
    align-items: center;
}

.loader{
    @include loader
}

.loader--background{
    z-index: 999999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    display: flex;
    margin-top: 50%;
    margin-bottom: 50%;
}

