body{
    font-family: 'Roboto', sans-serif;
}
button{
    font-family: 'Roboto', sans-serif;
}

.main__description__title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0%;
}

.nav{
    &__title{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding-top: 25px;
        padding-bottom: 20px;
        margin: 0%;
        margin-left: 20px;
        background-color: white;
        max-width: 1000px;
    }
    &__numbers{
        color: $colour-primaire;
        font-size: 30px;
    }
}
.section__title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    margin: 0%;
    margin-left: 20px;
    background-color: $colour-gray;
}
.resto{
    &__card{
        &__title{
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
        }
    }
    &__carte{
        &__title{
            font-family: 'Shrikhand', cursive;
        }
        .fa-heart-empty{
            font-size: 25px;
            padding-right: 10px;
        }

        .fa-heart-solid{
                background: linear-gradient(to top, $colour-primaire, $colour-secondaire);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                opacity: 0;
            }
        .fa-stack:hover{
                transition:ease-in-out 0.6s;
                .fa-heart-empty{
                    opacity: 0;
                }
                .fa-heart-solid{
                    opacity: 1;
                    transition:ease-in-out 0.6s;
                }
        }
        
        &__menu{
            &__title{
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                font-weight: 100;
                width: 40px;
                padding-bottom: 5px;
                border-bottom: 3px solid $colour-tertiaire;
                margin-bottom: 10px;
                margin-top: 20px;
            }
            &__ligne__left{
                &__text{
                font-size: 16px;
                padding-bottom: 5px;
                white-space: nowrap;
                overflow: hidden;
                    text-overflow: ellipsis;
                &--2{
                    font-family: 'Roboto', sans-serif;
                    font-size: 13px;
                    font-weight: 100;
                    height: 59px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &--3{
                    font-family: 'Roboto', sans-serif;
                    font-size: 13px;
                    font-weight: 500;
                    top: 30px; right: 20px;
                    margin-block-start: none;
                    display: flex;
                    align-items: flex-end;
                    margin-left: auto;
                    padding: 10px;
                    padding-right: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

h4{
    font-family: 'Shrikhand', cursive;
}