@mixin main__button{
    background-color: $colour-secondaire;
    font-size: 13px;
    color: white;
    margin: 15px;
    padding: 15px;
    background-image: linear-gradient(to top, $colour-primaire, $colour-secondaire);
    border-radius: 20px 20px 20px 20px;
    box-shadow: $shadow;
    border: none;
    cursor: pointer;
}

@mixin main__description{
    text-align: center;
}

@mixin fonct__button {
    background-color: $colour-gray;
    font-size: 13px;
    display: flex;
    align-items: center;
    box-shadow: $shadow;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    &:hover{
        background-color: $colour-primaire-hover;
        i{
            color: $colour-primaire;
        }
    }
    i{
        color: gray;
        font-size: 15px;
        padding: 10px;
        padding-right: 20px;
    }
}

@mixin resto__card{
    width: 100%;
    background-color: white;
    height: 220px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
    box-shadow: $shadow;
    position: relative;
    a{
        list-style-type: none;
        text-decoration: none;
        color: black;
    }
    img{
        width: 100%;
        height: 150px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    p{
        font-size: 15px;
        font-weight: 100;
    }
    h3{
        margin: 0%;
        padding-top: 10px;
        padding-left: 10px;
    }
    p{
        margin: 0%;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-top: 5px;
    }
}

@mixin resto__card__new{
    color: #368b6e;
    background-color: #a9e0d1;
    width: 70px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: $shadow;
    position: absolute;
    top: 20px; right: 20px;
    align-items: center;
    p{
        font-size: 13px;
        font-weight: 900;
    }
}

@mixin loader{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
      }
      .loader::before , .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #9356DC;
        animation: prixClipFix 2s linear infinite ;
      }
      .loader::after{
        transform: rotate3d(90, 90, 0, 180deg );
        border-color: #FF79DA;
      }

      @keyframes rotate {
        0%   {transform: rotate(0deg)}
        100%   {transform: rotate(360deg)}
      }

      @keyframes prixClipFix {
          0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
          50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
          75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      }