$colour-primaire: #9356DC;
$colour-secondaire: #FF79DA;
$colour-tertiaire: #99E2D0;
$colour-gray: #f7f7f7;
$colour-gray-dark: #eaeaea;
$colour-gray-black: #353535;
$colour-primaire-hover: #f3eefd;

$shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
$shadow-hover: rgba(0, 0, 0, 0.54) 0px 5px 15px;