.footer{
    background-color: $colour-gray-black;
    padding-top: 20px;
    padding-bottom: 20px;
    h4{
        color: white;
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
    }
    ul{
        margin: 0;
    }
    ul li{
        color: white;
        list-style-type: none;
        font-size: 13px;
        padding-bottom: 5px;
    }
    i{
        color: white;
        font-size: 10px;
        padding-right: 10px;
    }
    &__link{
        display: flex;
        align-items: center;
    }
    @media (min-width: 768px){
        .footer{
            &__title{
                font-size: 20px;
                align-items: center;
                margin: 25px;
            }
            &__ul{
                display: flex;
                justify-content: space-between;
                max-width: 80%;
            }
            &__link{
                margin: 30px;
            }
        }
    }

}
