.section{
    background-color: $colour-gray;
    padding: 10px;
        @media (min-width: 600px){
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        }
}
.resto{
    &__card{
        @include resto__card
    }
}
.resto__card__new{
    @include resto__card__new
}
.resto__img{
    object-fit: cover;
    img{
        width: 100%;
    }
}
@media (min-width: 600px){
    .resto__img 
    img{
        object-fit: cover;
        max-height: 400px;
    }
}
.resto__carte{
    background-color: $colour-gray;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 20px 20px 0px 0px;
    z-index: 1;
    position: relative;
    top: -50px;
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    &__menu{
        &__ligne{
                position: relative;
                background-color: white;
                box-shadow: $shadow;
                border-radius: 10px 10px 10px 10px;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                width: 310px;
                height: 59px;
                margin-right: auto;
                margin-left: auto;
                cursor: pointer;
                visibility: hidden;
                animation: fade;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                &:hover{
                    .resto__carte__menu__ligne__check{
                    width: 50px;
                    transition: 0.3s;
                        i{
                        font-size: 14px;
                        background-color: white;
                        transition: 0.4s;
                        rotate: 720deg;
                        }
                    }
                    .resto__carte__menu__ligne__left{
                            width: 55%;
                    }
                }
                @keyframes fade{
                    0%{                        
                        opacity: 0;
                        top: 10px;
                    }
                    100%{
                        opacity: 1;
                        top: 0px;
                        visibility: visible;
                    }
                }
                
            &__left{
                padding: 10px;
            }
            &__check{
                background-color: $colour-tertiaire;
                width: 0px;
                border-radius: 0px 10px 10px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
                i{
                    color: $colour-tertiaire;
                    font-size: 0px;
                    background-color: transparent;
                    border-radius: 50%;
                    padding: 2px;
                }
            }
        }
    }
}
.ligne--1{
    animation-delay: 0.2s;
}
.ligne--2{
    animation-delay: 0.4s;
}
.ligne--3{
    animation-delay: 0.6s;
}
.ligne--4{
    animation-delay: 0.8s;
}
@media (min-width: 600px) and (max-width: 1023px){
    .resto__carte{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: $shadow;
        padding-bottom: 30px;
        border-radius: 20px 20px 20px 20px;
    }
}
@media (min-width: 1024px){
    .resto__carte{
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: $shadow;
        padding-bottom: 30px;
        border-radius: 20px 20px 20px 20px;
        &__menu{
            display: flex;
            justify-content: center;
            &__ligne{
                &__left{
                margin-right: 10px;
                }
            }
            &__bloc{
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}
.resto__button{
    background-color: $colour-secondaire;
    font-size: 13px;
    color: white;
    margin-top: 40px;
    margin-right: 0%;
    padding: 15px;
    background-image: linear-gradient(to top, $colour-primaire, $colour-secondaire);
    border-radius: 20px 20px 20px 20px;
    box-shadow: $shadow;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    &:hover{
        filter: brightness(120%);
        box-shadow: $shadow-hover;
    }
}